<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head">
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="admin/fragments/header :: header"></header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside th:replace="admin/fragments/menu :: menu"></aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title ">Tổng doanh thu</h5>
              <p class="card-text" th:text="${profit}"></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 border border-primary">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Số lượng thành viên</h5>
              <p class="card-text" th:text="${countMem}"></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Số sản phẩm đang bán</h5>
              <p class="card-text" th:text="${countP}"></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Số đơn hàng đã hoàn thành</h5>
              <p class="card-text" th:text="${countOrderSuccess}"></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Doanh thu tháng 4</h5>
              <p class="card-text" th:text="${monthlyProfit}"></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
