<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

<body>
<header th:replace="fragments/header :: header"></header>

<div class="product-img container mt-4" id="product_detail_fill">
    <div class="row">
        <div class="img-product py-3 col-12 col-md-12 col-lg-6 col-xl-6">
            <div class="big-img">
                <img class="img-1 w-100" th:src="@{'/uploads/'+ ${productdetail.image}}" alt="" width="100px">
            </div>

        </div>
        <div class="product-info col-12 col-md-12 col-lg-6 col-xl-6">
            <div class="stickyy">
                <div class="pb-4">
                    <h3 class="title_product" th:text="${productdetail.name}"></h3>
                </div>
                <div class="text-danger pb-4">
                    <h3 th:text="${productdetail.priceFormat}"></h3>
                </div>
                <div>Độ mới:
                    <strong class="" th:text="${productdetail.rate}+'%'"></strong>
                </div>
                <div class="py-2">
                    Mô tả:
                    <strong class="" th:text="${productdetail.description}"></strong>
                </div>
                <div class="py-2">
                    Thương hiệu:
                    <strong class="" th:text="${productdetail.category.name}"></strong>
                </div>

                <div class="py-2">
                    Khu vực:
                    <strong class="" th:text="${productdetail.locate}"></strong>
                </div>
                <p id="recipientId" th:text="${productdetail.getUser.id}" style="display: none;"></p>

                <div class="Product-buy d-flex py-4">
                    <div class="btn-main">
                        <button class="message-btn" th:onclick="window.location.href='/chat'" onclick="connect()">Nhắn tin với người bán</button>
                    </div>
                    <div class="">
                        <button class="hotline-btn">Liên hệ: <strong class="text" th:text="${productdetail.getUser.phoneNumber}"></strong></button>
                    </div>
                </div>
                <div class="">
                    <a th:href="@{/product/order/{id}(id=${productdetail.id})}" class="btn buy-btn bg-warning">Mua sản phẩm</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>


<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/js/product-detail.js}"></script>
<script th:src="@{/assets/js/chat.js}"></script>
</body>

</html>