<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>
<header th:replace="fragments/header :: header"></header>

    <div class="container-fluid thumnail">
        <div class="slideshow-container pt-2">
            <div class="slide">
                <img src="./assets/img/ef3be935782d496456bf9b8e5e7f072a-2824954100074025769.png" alt="Slide 1">
            </div>

            <div class="slide">
                <img src="./assets/img/d85499d34175f0c59a8851f827ebeb73-2860597506351454432.jpg" alt="Slide 2">
            </div>

            <div class="slide">
                <img src="./assets/img/ef3be935782d496456bf9b8e5e7f072a-2824954100074025769.png" alt="Slide 3">
            </div>
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>
        </div>
    <!-- </div> -->

        <div class="container bg-light mt-3 custom-container">
            <ul class="menu-products row">
                <li class="bb col" th:each="category : ${categories}">
                    <a th:href="@{/{categoryName}(categoryName=${category.name})}" th:text="${category.name}"></a>
                </li>
            </ul>
        </div>


    <div class="container custom-container bg-light">
        <div class="spnew">
            <p class="new-sp">SẢN PHẨM MỚI ĐĂNG</p>
        </div>
        <div class="productContent">
            <div class="itemtab row">
                <li class="itemtab-item col-xl-3 col-6 col-lg-4 mb-4 pt-3 border-top" th:each="product: ${newProduct}">
                    <div class="proloop h-75">
                        <a class="icon-heart" href="#"><i class="fa-regular fa-heart"></i></a>
                        <div class="thumbnail">
                            <a th:href="@{/product/detail/{id}(id=${product.id})}" class="">
                                <img class="w-100" th:src="@{'/uploads/'+ ${product.image}}" alt="" >
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="box-title">
                                <h1>
                                    <a th:href="@{/product/detail/{id}(id=${product.id})}">
                                        <p class="change-color" th:text="${product.name}"></p>
                                    </a>
                                </h1>
                            </div>
                            <div class="product-price">
                                <div class="sale-price" th:text="${product.priceFormat}"></div>
                            </div>
                            <div class="first-box fs-7">
                                <div class="muenu-products text-muted" th:text="${product.posted}+'-'+${product.locate}"></div>
                            </div>

                        </div>
                    </div>
                </li>

                <div class="them">
                    <a th:href="@{/new-product}" class="more">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 custom-container bg-light">
        <div class="spnew">
            <p class="new-sp">DÀNH CHO BẠN</p>
        </div>
        <div class="productContent">
            <div class="itemtab row">
                <li class="col-xl-3 col-6 col-lg-4 mb-4" th:each="product: ${allProduct}">
                    <div class="proloop h-75">
                        <a class="icon-heart" href="#"><i class="fa-regular fa-heart"></i></a>
                        <div class="thumbnail">
                            <a th:href="@{/product/detail/{id}(id=${product.id})}" class="">
                                <img class="w-100" th:src="@{'/uploads/'+ ${product.image}}" alt="" >
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="box-title">
                                <h1>
                                    <a th:href="@{/product/detail/{id}(id=${product.id})}">
                                        <p class="change-color" th:text="${product.name}"></p>
                                    </a>
                                </h1>
                            </div>
                            <div class="product-price">
                                <div class="sale-price" th:text="${product.priceFormat}"></div>
                            </div>
                            <div class="first-box fs-7">
                                <div class="muenu-products text-muted" th:text="${product.posted}+'-'+${product.locate}"></div>
                            </div>

                        </div>
                    </div>
                </li>
                <div class="them">
                    <a th:href="@{/all-product}" class="more">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container custom-container bg-light mt-3 pb-1">
        <div class="col-xs-12">
            <h1><span><strong style="font-size:18px">Chợ Tốt - Chợ Mua Bán, Rao Vặt Trực Tuyến Hàng Đầu Của Người
                        Việt</strong></span></h1>

            <div class="detail-content">
                <p>Chào mừng đến với Chotot - nền tảng trực tuyến hàng đầu tại Việt Nam cho mua bán laptop cũ và mới, cùng với một loạt các sản phẩm và dịch vụ khác. Tại Chotot, chúng tôi không chỉ là nơi để mua sắm, mà còn là cộng đồng nơi mọi người có thể kết nối, trao đổi và giao dịch một cách dễ dàng và thuận tiện.</p>

                <p>Với một cơ sở dữ liệu phong phú của các laptop cũ từ các thương hiệu uy tín như Dell, HP, Lenovo, Asus và nhiều hãng khác, Chotot cam kết cung cấp cho bạn những sản phẩm chất lượng, đa dạng với mức giá hợp lý. Tất cả các sản phẩm đều được kiểm tra kỹ lưỡng để đảm bảo hoạt động tốt và đáp ứng được nhu cầu của bạn.
                </p>

                <p>Với một giao diện dễ sử dụng và tính năng tìm kiếm thông minh, bạn có thể dễ dàng tìm kiếm và so sánh các sản phẩm để chọn lựa được chiếc laptop phù hợp nhất với nhu cầu và ngân sách của bạn. Chotot cũng cung cấp các công cụ bảo vệ người mua và người bán, giúp mọi giao dịch diễn ra một cách an toàn và minh bạch.</p>

                <p>Hãy tham gia vào cộng đồng Chotot ngay hôm nay để khám phá thế giới mua bán laptop cũ đa dạng và phong phú, cũng như các sản phẩm và dịch vụ khác mà chúng tôi cung cấp.</p>


            </div>
        </div>
    </div>
</div>



<footer th:replace="fragments/footer :: footer"></footer>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    <script>
        $(document).ready(function () {
            $('.list-product__item-thumnail-link').each(function () {
                var maxLength = $(this).data('max-length');
                var text = $(this).text();

                if (text.length > maxLength) {
                    var truncatedText = text.substring(0, maxLength) + '...';
                    $(this).text(truncatedText);
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            var toggleMenu = document.getElementById("toggleMenu");
            var accountMenu = document.getElementById("accountMenu");

            toggleMenu.addEventListener("mouseenter", function() {
                accountMenu.style.display = "block"; // Hiển thị thanh menu khi di chuột vào
            });

            toggleMenu.addEventListener("mouseleave", function() {
                accountMenu.style.display = "none"; // Ẩn thanh menu khi di chuột ra
            });
        });

    </script>
</body>

</html>