<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    
    
    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    
    <div class="row border rounded border-dark w-50 h-50 centered">
        <div class="col-7 my-4">
            <p class="fs-5 border-bottom">Thông tin giao dịch</p>
            <div class="py-2">
                Người nhận:
                <strong class="">Tống Văn Quân</strong>
            </div>
            <div class="py-2">
                Số tiền:
                <strong class="">635.000đ</strong>
            </div>
            <div class="py-2">
                Nội dung:
                <strong class="">Nội dung là username của bạn</strong>
            </div>
            <div class="py-2">
                <button class="btn btn-success py-2">Xác nhận đã chuyển khoản</button>
            </div>
            
        </div>
        <div class="col-3">
            <div class="qr my-4">
                <img src="./assets/img/fcf2e4cf-52fa-4c18-b3ac-4f0ad25edbe5.jfif" alt="qr" width="250px" height="300px">
            </div>
        </div>
    </div>
    
</body>

</html>